/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f5f3;
    font-size: 20px;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/*.col,
.col_video,
.col_info {
    DEBUG 
    height: 150px;
    background-color: red;
    border: solid 2px #000;
}*/

/*********************************************************
                       HEADER
**********************************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
}

header h1 {
    color: #fe9f2a;
    font-family: 'Nerko One', cursive;
}


/*********************************************************
                       MAIN
**********************************************************/
/* regole contenuto principale */
.container {
    width: 90%;
    margin: 30px auto;
    /* DEBUG */
    
}

/* info ricetta */

#info-ricetta {
    padding-bottom: 40px;
    
}

.food-type {
    color: gray;
    font-size: 13px;
}

h2{
    color: #4e3969;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-plus {
    display: none;
}

.col-video {
    margin-bottom: 0;
}

.col-video img {
    width: 100%;
}

.col-info ul {
    list-style: none;
    padding-bottom: 30px;
    padding-top: 15px;
    background-color: white;
}

.col-info li {
    font-size: 16px;
    padding: 7px;
    margin-left: 20px;
    
}

#title-list {
    margin: 10px 0;
    margin-left: 20px;
    font-size: 20px;
}

/* sezione social e banner */
#social {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#social div{
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
}

#social span {
    display: none;
}

#banner {
    display: none;
}

/* sezione presentation */
#presentation {
    margin-top: 50px;
}

#presentation #line {
    color: #f6b771;
    font-weight: bold;
    
}

.clearfix {
    line-height: 25px;
}

.clearfix img{
    width: 70%;
    margin: 10px 0;
}

/*********************************************************
                       FOOTER
**********************************************************/
footer {
    background-color: #7c69a4;
    padding: 30px 0;
    color: white;
    font-size: 16px;
    /* DEBUG */
    /* height: 150px; */
    
}

.col {
    text-align: center;
    line-height: 35px;
}

.col ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}


.col a {
    color: white;

}

/*********************************************************
                   VERSIONE TABLET
**********************************************************/
@media screen and (min-width:768px) and (max-width:991px) {

    header {
        justify-content: flex-start;
        height: fit-content;
    }
    
    header h1 {
        margin: 20px;
    }

    #info_ricetta h2 {
        font-size: 1.5rem;
    }

    .text-plus {
        display: inline;
    }

    .col-info ul {
        display: flex;
        flex-wrap: wrap;
    }

    .col-info li {
        width: 30%;
        margin-bottom: 20px;
    }

    #title-list {
        width: 100%;
    }

    #banner {
        display: block;
        margin-top: 30px;
    }

    #banner img {
        width: 100%;
    }

    #presentation h3 {
        font-size: 1.5rem;
    }

    .clearfix {
        margin-top: 20px;
    }

    .clearfix::after {
        display: table;
        content: "";
        clear: both;

    }

    #presentation img {
        float: left;
        margin-right: 10px;
        width: 40%;
    }

}

/*********************************************************
                   VERSIONE DESKTOP
**********************************************************/
@media screen and (min-width:992px) {

    .container {
        width: 70%;
    }

    header {
        justify-content: flex-start;
        height: fit-content;
    }
    
    header h1 {
        margin: 20px;
    }

    .text-plus {
        display: inline;
    }

    .ingredients {
        display: flex;
    }

    .col-video {
        width: 65%;
    }
    
    .col-info {
        width: 35%;
    }

    #social span {
        display: inline;
    }

    #social div {
        padding: 10px 50px;
    }

    #banner {
        display: block;
        margin-top: 30px;
    }

    #banner img {
        width: 100%;
    }

    
    #presentation h3 {
        font-size: 1.5rem;
    }

    .clearfix {
        margin-top: 20px;
    }

    .clearfix::after {
        display: table;
        content: "";
        clear: both;

    }

    #presentation img {
        float: left;
        margin-right: 10px;
        width: 20%;
    }
}
